* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	max-width: 100%;
	overflow: visible;
	list-style: none;
	color: var(--Text-color);
	letter-spacing: 1.5px;
}
:root {
	--Primary-color: #383143;
	--Text-color: #f3e6f8;
	--Second-color: #2b2334;
	--Third-color: #e37e56;
	--Fourth-color: #f7bf8352;
	--Header-color: #1b141f;
}
body {
	display: flex;
	height: 100%;
	width: 100vw;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--Primary-color);
	background-repeat: no-repeat;
	align-items: center;
}
p > a{
	color: var(--Fourth-color);
}
header {
	background-color: var(--Header-color);
	display: flex;
	flex-direction: row;
	position: fixed;
	height: 7vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	gap: 70rem;
	padding: 1%;
	z-index: 3
}

.header--left{
	width: 25vw;
}
header >.header--left > a > h1 {
	color: var(--Text-color);
	transition: .5s;
	margin: 5%;
}
header > .header--left > a > h1:hover{
	cursor: pointer;
	color: var(--Third-color);
	text-shadow: var(--Fourth-color) 0px 0px 10px;
	transition: .5s;
}
.MenuButton,.MenuButton:hover {

	transition: .5s
}
.MenuButton {
	width: 65px;
	height: 65px;
	font-size: 1.25rem;
	border-radius: 50%;
	box-shadow: 0 0 5px 5px #c2b3a1;
	border: 0;
	color: var(--Header-color)
}
.MenuButton:hover {
	right: 47.5px;
	width: 70px;
	height: 70px;
	background-color: var(--Header-color);
	box-shadow: 0 0 5px 5px var(--Text-color);
	color: var(--Text-color)
}
.menu {
	z-index: 2;
	position: fixed;
	width: 350px;
	height: 500px;
	background-color: #ffffff;
	border-left: solid var(--Text-color);
	border-bottom: solid var(--Text-color);
	right: 0;
	top: -75%;
	transition: 1s;
}
.menu.active {
	transition: 1.5s;
	background-color: #6f617a90;
	top: 10vh;
}
.menu>div {
	margin: 25px
}
.menu>div>li>a {
	display: flex;
	justify-self: center;
	text-align: center;
	font-size: 2.25rem;
	transition: .5s
}
.menu>div>li>a:hover {
	text-shadow: #ffd396 0 0 10px;
	transition: .5s;
	font-size: 2.3rem;
}
button:hover{
	cursor: pointer;
}
.seperator {
	border-top: 0.5px white solid;
	width: 80%;
}
.IntroductionHolder {
	position: relative;
	width: 100vw;
	height: 80vh;
	overflow: hidden;
}
.Introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 1rem;
}
.StarryBackground{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #222029 url(../images/stars.png) repeat;
	z-index: 0;
	animation:twinkle 150s linear infinite;
}
.Introduction--ProfessionalProfile {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
	width: 100vw;
	gap: 7.5%;
}
.Introduction--ProfessionalProfile > h1{
	font-size: 200%;
}
.Introduction--Moon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 15px 15px 0px 0px var(--Text-color);
	transition: .5s
}
.Introduction--Moon:hover {
	box-shadow: 20px 10px 0px 0px var(--Third-color);
	transition: .5s;
	cursor: pointer;
}
.AboutMe {
	margin: 5%;
	height: 20vh;
}
.AboutMe--MainInformation{
	font-size: 1.25rem;
}
.ToAboutMe{
	width: 10vw;
	height: 5vh;

	margin-top: 5vh;

	background: transparent;
	border: var(--Text-color) solid 1px;
	transition: .5s;
}
.ToAboutMe:hover{
	box-shadow: var(--Fourth-color) 0px 0px 5px 5px;
	transition: .5s;
}
.ContentHolder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 5px;
	background-color: var(--Second-color);
	width: 80vw;
	height: 355vh;
	z-index: 1;
}
.ContentSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem
}
.HighlightedProject > h2{
	font-size: 2.5rem;
	margin: 2rem;
}
.WIP-warning{
	text-align: center;
}
.HighlightedProjectHolder{
	gap: 2%;
	background-color: #4d4c5a;
	width: 55.5vw;
	height: 32.5vh;
	padding: 2.5%;
	display: flex;
	overflow: hidden;
	box-shadow: #ffffff29 1px 0px 35px 15px;
}
.HighlightedProjectHolder--left{
	display: flex;
	align-items: center;
	width: 35%;
}
.HighlightedProjectHolder--right{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 65%;
}
.HighlightedProjectHolder--right > a{
	position: relative;
	top: 5vh;
	width: 20vw;
	height: 7.5vh;
}
.HighlightedProjectHolder--right > h3{
	font-size: 2rem;
}
.RecentProjectImage{
	width: 15vw;
	height: 30vh;
	bottom: 1%;
	border: solid var(--Text-color) 2px;
	
}
.HighlightedProjectButton{
	top: 5vh;
	width: 20vw;
	height: 7.5vh;
	background-color: transparent;
	border: var(--Text-color) solid 2px;
	font-size: 1.5rem;
}
.HighlightedProjectButton:hover{
	cursor: pointer;
}
.ProjectSection{
	width: 85%;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}
.game{
	width: 325px;
	height: 425px;
	margin: 2rem;
	background: #6f617a90;
	border: white solid 2px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.game > img{
	width: 200px;
	height: 200px;
	margin: 5%;
}
.game > .info{
	margin-bottom: 5%;
	
}
.game > a > .ToGame{
	width: 9vw;
	height: 5vh;
	background: transparent;
	border: white 2px solid;
}
.ContactSection > a > button{
	width: 10vw;
	height: 5vh;
	margin: 2rem;

	background-color: transparent;
	border: solid white 2px;
}
footer {
	position: static;
	height: 75px;
	width: 100%;
	bottom: 0;
	background-color: var(--Header-color);
	z-index: 1;
}
/* ================================ About me ================================ */ 
.IntroductionSection{
	flex-direction: row;
	gap: 5vw;
}
.IntroductionSection--Right > h2{
	font-size: 2rem;
	
}
.IntroductionSection--Right > p{
	font-size: 1.5rem;
}
.IntroductionSection--Left > img{
	border: #f2e1da solid 7.5px;
	border-radius: 15px;
	width: 25vw;
	margin: 5%;
}
.SkillSection{
	text-align: center;
}
.SkillSection > *{
	margin: 1%;
}
.SkillSection > h2{
	font-size: 2rem;
}
.SkillSection > h3{
	font-size: 1.75rem;
}
.SkillSection > p{
	font-size: 1.5rem;
}
.HobbySection{
	text-align: center;
}
.HobbySection > h3{
	font-size: 1.75rem;
}
.Hobby{
	margin: 2%;
}
.Hobby > h4{
	font-size: 1.60rem;
}
.Hobby > p{
	font-size: 1.5rem;
}

/* Projects */
.ProjectsSection{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.gameholder{
	height: 35vh;
	width: 30vw;

	display: flex;
	gap: 5%;

	margin: 25px;
	border: var(--Text-color) 2px solid;
	background-color: #6f617a90;
}
.gameholder--left > img{
	width: 12.5vw;
	margin: 5%;
}
.gameholder--right > h2{
	font-size: 2rem;
}
.gameholder--right > a > button{
	width: 12.5vw;
	height: 7vh;

	background: transparent;
	color: var(--Text-color);
	font-size: 1.5rem;

	border: solid var(--Text-color) 1.5px;
	transition: .5s;
}
.gameholder--right > *{
	margin-bottom: 10%;
}
.gameholder--right > .ToPage:hover{
	background-color: #ffffff42;
	transition: .5s;
	cursor: pointer;
}
/* ===== Game Pages ===== */

.ContentHolder--NavSim{
	height: 5000vh;
}
.ContentHolder--CloudyTowers{
	height: 5000vh;
}
.ContentHolder--NyxmooreReach{
	height: 5000vh;
}
.ContentHolder--RiftGuardian{
	height: 1100vh;
}
.Trailer{
	font-size: 75px;
	height: 150px;
}
.MainInfoSection{
	flex-direction: row;

}
.MainInfoSection > *{
	margin: 3%;
}
.MainInfoSection--Left > img{
	width: 75rem;
}
.MainInfoIcon--NyxmooreReach{
	width: 100vw;
}
.MainInfoSection--Right > *{
	margin-top: 3%;
}
.MainInfoSection--Right > h2{
	font-size: 2rem;
}
.CodeSection{

	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.GameSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 2%;
}
video{
	margin-bottom: 5%;
}
.GameSection > iframe{
	width: 80vw;
	height: 50vh;
	border: none;
	margin-top: 5%;
	margin-bottom:2.5% ;
}

.GameSection > img{
	margin-top: 5%;
	margin-bottom: 2.5%;
	width: 50vw;
	transition: 1s;
	
}
.GameSection > img:hover{
	box-shadow: var(--Fourth-color) 1px 0px 35px 15px;
	width: 60vw;
	transition: 1s;
}

.GameSection > h3{
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 2rem;
}

.GameSection > p{
	font-size: 1.25rem;
}

.FuelTankSection{
	flex-direction: row;
	align-items: center;
	gap: 5%;
}

.FuelTankSection--Left > img{
	margin: 1rem;
	width: 45vw;
}
.FuelTankSection--Right{
	text-align: left;
}
.FuelTankSection--Right > h3{
	font-size: 2rem;
}
.FuelTankSection--Right > p{
	font-size: 1.5rem;
}

.ImageSlider{
	max-width: 50rem;
}

.ImageHolder{
	display: none;
}

.prev, .next{
	font-weight: bold;
  	font-size: 2rem;
	transition: .5s;
}

.prev:hover, .next:hover{
	text-shadow: var(--Fourth-color) 0px 0px 10px;
	transition: .5s;
	cursor: pointer;
}

.ImageDots{
	text-align: center; 
}
/* ===== contact ===== */

.ContentHolder--Contact{
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	height: 150vh;
	margin-top: 2.5%;
	text-align: center;

}
.ContactInfoSection{
	}

.SocialMediaLogos > *{
	margin: 1rem;
}

 .ContactInfoSection > li{
	font-size: 1.5rem;
 }
.SocialMediaButton > img{
	width: 3vw;
}

.CvSection > *{
	margin-bottom: 1%;
}


@media (max-width: 2560px){
	.menu.active{
		top: 10.45vh;
	}
}

@media (max-width: 1440px){

	.menu.active{
		top: 10vh;
	}

}

@media (max-width: 1046px) {
	
	.AboutMe>Button{
		position: absolute;
		bottom: 50px;
	}
	header{
		width: 100%;
	}
	.ContentHolder{
		top: 8.5vh;

	}
	.pillartop--left{
		display: none;
	}
	.menu{
		top: -200%;
	}
	.menu.active{
		top: 9.5vh;
	}

	.MenuButton{
		width: 55px;
		height: 55px;
		font-size: 100%;
	}



}

@media (max-width: 768px){
	
}
@media (max-width: 426px){
	body{
		width: 100vw;
	}

	.MenuButton{
		width: 45px;
		height: 45px;
	}

	

	.menu.active{
		top: 8vh;
	}


}

@media (max-width: 376px){

	.MenuButton{
		width: 42.5px;
		height: 42.5px;
	}
}

@media (max-width: 321px){

}



@keyframes twinkle{
	from {background-position: 0 0; }
	to {background-position: 0px 2500px;}
}